<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="exampleModalLabel">登陆密码重置<span style="font-size:14px;color:gray;">（您也可以直接联系沃诊无忧客服进行密码重置）</span></h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						手机号:<input id="loginAccount1" type="text" class="form-control" style="width:200px;display:inline;margin-left:10px;">
					</div>
					<div class="form-group">
						新密码:<input id="newPassword1" type="password" class="form-control" style="width:200px;display:inline;margin-left:10px;">
					</div>
					<div class="form-group">
						验证码:<input id="emailVerifyCode1" type="text" class="form-control" style="width:200px;display:inline;margin-left:10px;">
						<button id="emailVerifyCodeBtn" onclick="sendEmailVerifyCode();" type="button" class="btn btn-info">获取验证码</button>
					</div>
					<div id="pswd_set_tip" class="form-group" style="color: black;margin-left: 50px;">
						点击获取验证码，我们将会把验证码发送到您绑定的邮箱。
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" onclick="passwordReset();" class="btn btn-primary">确定</button>
			</div>
		</div>
	</div>
</div>