<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.OrdersMapper">
	<resultMap type="com.lhfeiyu.po.Orders" id="OrdersMap">
		<id property="ordersid" column="ordersid" />
		<result property="inserttime" column="inserttime" />
		<result property="createtime" column="createtime" />
		<result property="createuserid" column="createuserid" />
		<result property="inuserid" column="inuserid" />
	</resultMap>

	<resultMap type="com.lhfeiyu.po.Orders" id="OrdersLinkDitelMap"
		extends="OrdersMap">
		<!-- 订单详细 -->
		<collection property="ordersdetails" ofType="com.lhfeiyu.po.Ordersparticular">
			<id property="ordersparticularid" column="ordersparticularid" />
			<result property="ordersno" column="ordersno" />
			<result property="productname" column="productname" />
			<result property="productid" column="productid" />
			<result property="size" column="size" />
			<result property="num" column="num" />
			<result property="mununit" column="mununit" />

			<result property="createproduct" column="createproduct" />
			<result property="producttypeid" column="producttypeid" />
			<result property="supplierid" column="supplierid" />
			<result property="ordersid" column="ordersid" />
		</collection>
		<!-- 创建人 -->
		<collection property="cuser" column="createuserid" ofType="com.lhfeiyu.po.Admin">
			<id column="id" property="id" />
			<result property="username" column="username" />
		</collection>

		<collection property="inuser" column="inuserid" ofType="com.lhfeiyu.po.Admin">
			<id column="inuserid" property="id" />
			<result column="inpeople" property="username" />
		</collection>
	</resultMap>

	<sql id="suffix">
		<trim>
			<if test="orderBy!=null and orderBy!='' "> order by o.ordersId #{orderBy}</if>
			<if test="orderBy==null and orderBy=='' "> order by o.ordersId DESC </if>
		</trim>
	</sql>

	<sql id="limitCount"><!-- 分页 -->
		<if test="count != null and count !='' "> LIMIT ${start},${count}</if>
	</sql>

	<select id="findOrders" parameterType="java.util.Map" resultMap="OrdersLinkDitelMap">
		SELECT
		o.ordersid,
		o.inserttime,
		o.createtime,
		o.createuserid,
		o.updateuserid,
		o.updatetime,
		o.inuserid,
		o.ordersparticularid,
		o.ordersno,
		o.productname,
		o.productid,
		o.size,
		o.num,
		o.mununit,
		o.createproduct,
		o.producttypeid,
		o.supplierid,
		o.orders_id,
		cuser.id,
		cuser.username,
		iuser.id AS inuserid,
		iuser.username AS inpeople
		FROM
		(
		SELECT
		o.ordersid,
		o.inserttime,
		o.createtime,
		o.createuserid,
		o.updateuserid,
		o.updatetime,
		o.inuserid,
		oe.ordersparticularid,
		oe.ordersno,
		oe.productname,
		oe.productid,
		oe.size,
		oe.num,
		oe.mununit,
		oe.createproduct,
		oe.producttypeid,
		oe.supplierid,
		oe.orders_id
		FROM
		orders o
		LEFT JOIN ordersparticular oe ON o.ordersid = oe.orders_id
		) o,
		admin cuser,
		admin iuser
		WHERE
		1 = 1
		AND o.createuserid = cuser.id
		AND o.inuserid = iuser.id
		<include refid="suffix" />
		<include refid="limitCount" />
	</select>

	<!-- 添加订单 -->
	<insert id="addOrder" parameterType="java.util.Map"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() as id
		</selectKey>

		insert into orders
		(createuserid,createtime,inuserid,inserttime)
		VALUES(
		#{createuserid},#{createtime,jdbcType=DATE},#{inuserid},#{inserttime,jdbcType=DATE}
		);
	</insert>

	<select id="countNum" resultType="java.lang.Integer">
		select count(ordersid) from
		orders
	</select>

	<delete id="deleteOrder" parameterType="java.lang.Integer">
		delete from orders where
		ordersid = #{id}
	</delete>

</mapper>