<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StinsertstorageparticularMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Stinsertstorageparticular">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="insertstorageid" property="insertstorageid"
			jdbcType="INTEGER" />
		<result column="productid" property="productid" jdbcType="INTEGER" />
		<result column="productname" property="productname" jdbcType="VARCHAR" />
		<result column="num" property="num" jdbcType="INTEGER" />
		<result column="mununit" property="mununit" jdbcType="VARCHAR" />
		<result column="producttypeid" property="producttypeid"
			jdbcType="INTEGER" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="lot" property="lot" jdbcType="VARCHAR" />
		<result column="expirationdate" property="expirationdate"
			jdbcType="TIMESTAMP" />
	</resultMap>
	
	
	<sql id="limitCount"><!-- 分页 -->
		 LIMIT ${start},${count}
	</sql>
	
	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM STINSERTSTORAGEPARTICULAR
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Stinsertstorageparticular">
		SELECT * FROM STINSERTSTORAGEPARTICULAR
		
		<include refid="limitCount"/>
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Stinsertstorageparticular">
		insert into
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Stinsertstorageparticular">
		update
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from
	</delete>
</mapper>