<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StinsertstorageparticularMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Stinsertstorageparticular">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="insertstorageid" property="insertstorageid"
			jdbcType="INTEGER" />
		<result column="productid" property="productid" jdbcType="INTEGER" />
		<result column="productname" property="productname" jdbcType="VARCHAR" />
		<result column="num" property="num" jdbcType="INTEGER" />
		<result column="mununit" property="mununit" jdbcType="VARCHAR" />
		<result column="producttypeid" property="producttypeid"
			jdbcType="INTEGER" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="lot" property="lot" jdbcType="VARCHAR" />
		<result column="expirationdate" property="expirationdate"
			jdbcType="TIMESTAMP" />
	</resultMap>


	<sql id="limitCount"><!-- 分页 -->
		LIMIT ${start},${count}
	</sql>

	<sql id="baseColum">
		id,insertstorageid,productid,productname,num,mununit,producttypeid,
		size,lot,expirationdate
	</sql>

	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM STINSERTSTORAGEPARTICULAR where 1=1
		<if test="id!=null">id = #{id}</if>
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Stinsertstorageparticular">
		SELECT <include refid="baseColum"/> FROM STINSERTSTORAGEPARTICULAR where 1=1
		<trim suffix="and">
			<if test="insertstorageid!=null">insertstorageid = #{insertstorageid}</if>
			<if test="productid!=null">productid=#{productid}</if>
			<if test="productname!=null and productname!=''">productname = #{productname}</if>
			<if test="num != null">num = #{num}</if>
			<if test="mununit!=null and mununit!=''">mununit = #{mununit}</if>
			<if test="producttypeid!=null and producttypeid!=''">producttypeid = #{producttypeid}</if>
			<if test="size!=null and size!=''">size = #{size}</if>
			<if test="lot!=null and lot!=''">lot = #{lot}</if>
			<if test="expirationdate!= null and expirationdate!=''">expirationdate = #{expirationdate}</if>
		</trim>
		<include refid="limitCount" />
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Stinsertstorageparticular">
		insert into STINSERTSTORAGEPARTICULAR (insertstorageid,productid,productname,num,mununit,producttypeid,
		size,lot,expirationdate)values(
			#{insertstorageid},#{productid},#{productname},#{num},#{mununit},#{producttypeid},#{size},#{lot},#{expirationdate}
		)
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Stinsertstorageparticular">
		update STINSERTSTORAGEPARTICULAR 
		<trim suffix="set" suffixOverrides=",">
			<if test="insertstorageid!=null">insertstorageid = #{insertstorageid},</if>
			<if test="productid!=null">productid=#{productid},</if>
			<if test="productname!=null and productname!=''">productname = #{productname},</if>
			<if test="num != null">num = #{num},</if>
			<if test="mununit!=null and mununit!=''">mununit = #{mununit},</if>
			<if test="producttypeid!=null and producttypeid!=''">producttypeid = #{producttypeid},</if>
			<if test="size!=null and size!=''">size = #{size},</if>
			<if test="lot!=null and lot!=''">lot = #{lot},</if>
			<if test="expirationdate!= null and expirationdate!=''">expirationdate = #{expirationdate},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from STINSERTSTORAGEPARTICULAR where id=#{id}
	</delete>
</mapper>