<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StorageMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Storage">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ordersid" property="ordersid" jdbcType="INTEGER" />
		<result column="insertstorageid" property="insertstorageid"
			jdbcType="INTEGER" />
		<result column="productname" property="productname" jdbcType="VARCHAR" />
		<result column="productid" property="productid" jdbcType="INTEGER" />
		<result column="num" property="num" jdbcType="INTEGER" />
		<result column="mununit" property="mununit" jdbcType="VARCHAR" />
		<result column="producttypeid" property="producttypeid"
			jdbcType="INTEGER" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="lot" property="lot" jdbcType="VARCHAR" />
		<result column="expirationdate" property="expirationdate"
			jdbcType="TIMESTAMP" />
		<result column="equipmentnb" property="equipmentnb" jdbcType="VARCHAR" />
		<result column="receivingunit" property="receivingunit"
			jdbcType="VARCHAR" />
	</resultMap>
	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM Storage where 1=1
		<if test="id!=null">and id = #{id}</if>
	</select>

	<sql id="baseColum">
		id,ordersid,insertstorageid,productname,productid,num,mununit,producttypeid,size,lot,expirationdate,
		equipmentnb,receivingunit
	</sql>

	<select id="find" parameterType="com.lhfeiyu.po.Storage">
		SELECT <include refid="baseColum"/> FROM STORAGE 
		<trim>
			<if test="id!=null">id = #{id}</if>
			<if test="ordersid!=null and ordersid!=''">and ordersid = #{ordersid}</if>
			<if test="insertstorageid!=null and insertstorageid!=''">and insertstorageid=#{insertstorageid}</if>
			<if test="productname!=null and productname = ''">and productname = #{productname}</if>
			<if test="productid!=null and productid!=''">and productid = #{productid}</if>
			<if test="num!= null">and num = #{num}</if>
			<if test="mununit!=null and mununit!=''">and mununit = #{mununit}</if>
			<if test="producttypeid!=null and producttypeid=''">and producttypeid = #{producttypeid}</if>
			<if test="size!=null and size!=''">and size = #{size}</if>
			<if test="lot!=null and lot != ''">and lot = #{lot}</if>
			<if test="expirationdate!=null">and expirationdate = #{expirationdate}</if>
		</trim>
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Storage">
		insert into STORAGE(ordersid,insertstorageid,productname,productid,num,mununit,producttypeid,size,lot,expirationdate,
		equipmentnb,receivingunit)VALUES(
			#{ordersid},#{insertstorageid},#{productname},#{productid},#{num},#{mununit},#{producttypeid},#{size},#{lot},
			#{expirationdate}
		)
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Storage">
		update STORAGE 
		<trim suffix="set" suffixOverrides=",">
			<if test="ordersid!=null and ordersid!=''">ordersid = #{ordersid},</if>
			<if test="insertstorageid!=null and insertstorageid!=''">insertstorageid=#{insertstorageid},</if>
			<if test="productname!=null and productname = ''">productname = #{productname},</if>
			<if test="productid!=null and productid!=''">productid = #{productid},</if>
			<if test="num!= null">num = #{num},</if>
			<if test="mununit!=null and mununit!=''">mununit = #{mununit},</if>
			<if test="producttypeid!=null and producttypeid=''">producttypeid = #{producttypeid},</if>
			<if test="size!=null and size!=''">size = #{size},</if>
			<if test="lot!=null and lot != ''">lot = #{lot},</if>
			<if test="expirationdate!=null">expirationdate = #{expirationdate},</if>
		</trim>
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from STORAGE where id = #{id}
	</delete>
</mapper>