<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StorageMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Storage">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ordersid" property="ordersid" jdbcType="INTEGER" />
		<result column="insertstorageid" property="insertstorageid"
			jdbcType="INTEGER" />
		<result column="productname" property="productname" jdbcType="VARCHAR" />
		<result column="productid" property="productid" jdbcType="INTEGER" />
		<result column="num" property="num" jdbcType="INTEGER" />
		<result column="mununit" property="mununit" jdbcType="VARCHAR" />
		<result column="producttypeid" property="producttypeid"
			jdbcType="INTEGER" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="lot" property="lot" jdbcType="VARCHAR" />
		<result column="expirationdate" property="expirationdate"
			jdbcType="TIMESTAMP" />
		<result column="equipmentnb" property="equipmentnb" jdbcType="VARCHAR" />
		<result column="receivingunit" property="receivingunit"
			jdbcType="VARCHAR" />
	</resultMap>
	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM Storage
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Storage">
		SELECT * FROM Storage
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Storage">
		insert into
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Storage">
		update
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from
	</delete>
</mapper>