<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StordersparticularMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Stordersparticular">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="ordersno" property="ordersno" jdbcType="VARCHAR" />
		<result column="productname" property="productname" jdbcType="VARCHAR" />
		<result column="productid" property="productid" jdbcType="INTEGER" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="num" property="num" jdbcType="INTEGER" />
		<result column="mununit" property="mununit" jdbcType="VARCHAR" />
		<result column="createproduct" property="createproduct"
			jdbcType="VARCHAR" />
		<result column="producttypeid" property="producttypeid"
			jdbcType="INTEGER" />
		<result column="supplierid" property="supplierid" jdbcType="INTEGER" />
		<result column="orders_id" property="ordersId" jdbcType="INTEGER" />
	</resultMap>
	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM Stordersparticular
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Stordersparticular">
		SELECT * FROM Stordersparticular
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Stordersparticular">
		insert into
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Stordersparticular">
		update
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from
	</delete>
</mapper>