<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StoutstorageparticularMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Stoutstorageparticular">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="outstorageid" property="outstorageid" jdbcType="INTEGER" />
		<result column="productname" property="productname" jdbcType="VARCHAR" />
		<result column="productid" property="productid" jdbcType="INTEGER" />
		<result column="producttypeid" property="producttypeid"
			jdbcType="INTEGER" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="mununit" property="mununit" jdbcType="VARCHAR" />
		<result column="num" property="num" jdbcType="INTEGER" />
		<result column="lot" property="lot" jdbcType="VARCHAR" />
		<result column="expirationdate" property="expirationdate"
			jdbcType="TIMESTAMP" />
		<result column="equipmentnb" property="equipmentnb" jdbcType="VARCHAR" />
		<result column="receivingunit" property="receivingunit"
			jdbcType="VARCHAR" />
		<result column="ordid" property="ordid" jdbcType="INTEGER" />
	</resultMap>

	<sql id="baseColum">
		id,ordersno,productname,productid,size,num,mununit,createproduct,producttypeid,
		supplierid,orders_id
	</sql>

	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM Stoutstorageparticular where 1=1
		<if test="id!=null">and id = #{id}</if>
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Stoutstorageparticular">
		SELECT * FROM
		STOUTSTORAGEPARTICULAR where 1=1
		<trim>
			<if test="ordersno!=null and ordersid!=''">and ordersid = #{ordersid}</if>
			<if test="productname!=null and productname!=''">and productname = #{productname}</if>
			<if test="productid!=null and productid!=''">and productid = #{productid}</if>
			<if test="size!=null and size!=''">and size = #{size}</if>
			<if test="num!=null and num!=''">and num = #{num}</if>
			<if test="mununit!=null and mununit!=''">and mununit = #{mununit}</if>
			<if test="createproduct!=null and createproduct!=''">and createproduct = #{createproduct}</if>
			<if test="producttypeid!=null and producttypeid!=''">and producttypeid = #{producttypeid}</if>
			<if test="supplierid !=null and supplierid!=''">and supplierid = #{supplierid}</if>
			<if test="orders_id!=null ">and orders_id = #{orders_id}</if>
		</trim>
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Stoutstorageparticular">
		insert into STOUTSTORAGEPARTICULAR (ordersno,productname,productid,size,num,mununit,createproduct,producttypeid,
		supplierid,orders_id)values(
			#{ordersno},#{productname},#{productid},#{size},#{num},#{mununit},#{createproduct},#{producttypeid},
		#{supplierid},#orders_id}
		)
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Stoutstorageparticular">
		update STOUTSTORAGEPARTICULAR
		<trim suffix="set" suffixOverrides=",">
			<if test="ordersno!=null and ordersid!=''"> ordersid = #{ordersid}</if>
			<if test="productname!=null and productname!=''"> productname = #{productname}</if>
			<if test="productid!=null and productid!=''"> productid = #{productid}</if>
			<if test="size!=null and size!=''"> size = #{size}</if>
			<if test="num!=null and num!=''"> num = #{num}</if>
			<if test="mununit!=null and mununit!=''"> mununit = #{mununit}</if>
			<if test="createproduct!=null and createproduct!=''">createproduct = #{createproduct}</if>
			<if test="producttypeid!=null and producttypeid!=''">producttypeid = #{producttypeid}</if>
			<if test="supplierid !=null and supplierid!=''">supplierid = #{supplierid}</if>
			<if test="orders_id!=null ">orders_id = #{orders_id}</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from STOUTSTORAGEPARTICULAR where id = #{id}
	</delete>
</mapper>