<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StoutintypeMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Stoutintype">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="outintypename" property="outintypename"
			jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="baseColum">
		id,outintypename
	</sql>
	
	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM STOUTINTYPE where 1=1
		<if test="id!=null">id = #{id}</if>
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Stoutintype">
		SELECT <include refid="baseColum"/> FROM STOUTINTYPE where 1=1
		<trim>
			<if test="id!=null">and id = #{id}</if>
			<if test="outintypename!=null and outintypename!=''"> outintypename like #{outintypename}</if>
		</trim>
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Stoutintype">
		insert into STOUTINTYPE(outintypename)values(
			outintypename
		)
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Stoutintype">
		update STOUTINTYPE 
		<trim suffix="set" suffixOverrides=",">
			<if test="outintypename!=null and outintypename!=''">outintypename = #{outintypename}</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from STOUTINTYPE where id = #{id}
	</delete>
</mapper>