<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StproducttypeMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Stproducttype">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="producttypename" property="producttypename"
			jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="baseColum">
		id,producttypename
	</sql>
	
	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM Stproducttype where 1=1
		<if test="id!=null">id = #{id}</if>
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Stproducttype">
		SELECT <include refid="baseColum"/> FROM Stproducttype where 1=1
		<trim>
			<if test="id!=null">id = #{id}</if>
			<if test="producttypename!=null and producttypename!=''">producttypename = #{producttypename}</if>
		</trim>
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Stproducttype">
		insert into Stproducttype(producttypename)values(#{producttypename})
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Stproducttype">
		update Stproducttype
		<trim suffix="set" suffixOverrides=",">
			<if test="producttypename!=null and producttypename!=''">producttypename = #{producttypename}</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="com.lhfeiyu.po.Stproducttype">
		delete from Stproducttype where id = #{id}
	</delete>
</mapper>