<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StsupplierMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Stsupplier">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="suppliername" property="suppliername" jdbcType="VARCHAR" />
		<result column="createproduct" property="createproduct"
			jdbcType="VARCHAR" />
		<result column="principalpeople" property="principalpeople"
			jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="createuserid" property="createuserid" jdbcType="INTEGER" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updateuserid" property="updateuserid" jdbcType="INTEGER" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="baseColum">id,inserttime,dealer,createproduct,userid,updatetime,
		address,remarks,inorouttypeid
	</sql>

	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM
		STINSERTSTORAGE where 1=1
		<if test="id!=null">id = #{id}</if>
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Stsupplier">
		SELECT <include refid=""></include> FROM STINSERTSTORAGE where 1=1
		<trim>
			<if test="inserttime!=null and inserttime!=''">and inserttime = #{inserttime}</if>
			<if test="dealer!=null and dealer!=''">and dealer = #{dealer}</if>
			<if test="createproduct!=null and createproduct!=''">and createproduct=#{createproduct}</if>
			<if test="userid!=null and userid!=''">and userid = #{userid}</if>
			<if test="updatetime!=null and updatetime!=''">and updatetime = #{updatetime}</if>
			<if test="address!=null and address!=''">and address=#{address}</if>
			<if test="remarks!=null and remarks!=''">and remarks=#{remarks}</if>
			<if test="inorouttypeid!=null and inorouttypeid!=''">and inorouttypeid=#{inorouttypeid}</if>
		</trim>
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Stsupplier">
		insert into STINSERTSTORAGE(inserttime,dealer,createproduct,userid,updatetime,
		address,remarks,inorouttypeid)values(#{inserttime},#{dealer},#{createproduct},#{userid},#{updatetime},
		#{address},#{remarks},#{inorouttypeid})
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Stsupplier">
		update  STINSERTSTORAGE
		<trim suffix="set" suffixOverrides=",">
			<if test="inserttime!=null and inserttime!=''">inserttime = #{inserttime},</if>
			<if test="dealer!=null and dealer!=''"> dealer = #{dealer},</if>
			<if test="createproduct!=null and createproduct!=''">createproduct=#{createproduct},</if>
			<if test="userid!=null and userid!=''">userid = #{userid},</if>
			<if test="updatetime!=null and updatetime!=''">updatetime = #{updatetime},</if>
			<if test="address!=null and address!=''">address=#{address},</if>
			<if test="remarks!=null and remarks!=''">remarks=#{remarks},</if>
			<if test="inorouttypeid!=null and inorouttypeid!=''">inorouttypeid=#{inorouttypeid},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="INTEGER">
		delete from STINSERTSTORAGE where id = #{id}
	</delete>
</mapper>