<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StsupplierMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Stsupplier">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="suppliername" property="suppliername" jdbcType="VARCHAR" />
		<result column="createproduct" property="createproduct"
			jdbcType="VARCHAR" />
		<result column="principalpeople" property="principalpeople"
			jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="createuserid" property="createuserid" jdbcType="INTEGER" />
		<result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
		<result column="updateuserid" property="updateuserid" jdbcType="INTEGER" />
		<result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM STINSERTSTORAGE
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Stsupplier">
		SELECT * FROM STINSERTSTORAGE
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Stsupplier">
		insert into
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Stsupplier">
		update
	</update>

	<delete id="delete" parameterType="INTEGER">
		delete from
	</delete>
</mapper>