<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhfeiyu.dao.StwarehousesummaryMapper">
	<resultMap id="BaseResultMap" type="com.lhfeiyu.po.Stwarehousesummary">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="productname" property="productname" jdbcType="VARCHAR" />
		<result column="producttypeid" property="producttypeid"
			jdbcType="INTEGER" />
		<result column="size" property="size" jdbcType="VARCHAR" />
		<result column="num" property="num" jdbcType="INTEGER" />
		<result column="mununit" property="mununit" jdbcType="VARCHAR" />
		<result column="lot" property="lot" jdbcType="VARCHAR" />
		<result column="expirationdate" property="expirationdate"
			jdbcType="TIMESTAMP" />
		<result column="equipmentnb" property="equipmentnb" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="baseColum">
		id,productname,producttypeid,size,num,mununit,lot,expirationdate,equipmentnb
	</sql>
	
	<select id="count" parameterType="java.lang.Integer">
		SELECT COUNT(ID) FROM Stwarehousesummary where 1=1
		<if test="id!=null">id = #{id}</if>
	</select>

	<select id="find" parameterType="com.lhfeiyu.po.Stwarehousesummary">
		SELECT <include refid="baseColum"/> FROM Stwarehousesummary where 1=1
		<trim>
			<if test="id!=null">id = #{id}</if>
			<if test="productname!=null and productname!=''">and productname=#{productname}</if>
			<if test="producttypeid!= null and producttypeid!=''">and producttypeid=#{producttypeid}</if>
			<if test="size!=null and size!=''">and size=#{size}</if>
			<if test="num!=null and num!=''">and num=#{num}</if>
			<if test="mununit!=null and mununit!=''">and mununit=#{mununit}</if>
			<if test="lot!=null and lot!=''">and lot=#{lot}</if>
			<if test="expirationdate!=null">and expirationdate=#{expirationdate}</if>
			<if test="equipmentnb!=null and equipmentnb!=''">and equipmentnb = #{equipmentnb}</if>
		</trim>
	</select>

	<insert id="add" parameterType="com.lhfeiyu.po.Stwarehousesummary">
		insert into Stwarehousesummary (productname,producttypeid,size,num,mununit,lot,expirationdate,equipmentnb)values
		(#{productname},#{producttypeid},#{size},#{num},#{mununit},#{lot},#{expirationdate},#{equipmentnb})
	</insert>

	<update id="update" parameterType="com.lhfeiyu.po.Stwarehousesummary">
		update Stwarehousesummary
		<trim suffix="set" suffixOverrides=",">
			<if test="productname!=null and productname!=''">productname=#{productname},</if>
			<if test="producttypeid!= null and producttypeid!=''">producttypeid=#{producttypeid},</if>
			<if test="size!=null and size!=''">size=#{size},</if>
			<if test="num!=null and num!=''">num=#{num},</if>
			<if test="mununit!=null and mununit!=''">mununit=#{mununit},</if>
			<if test="lot!=null and lot!=''">lot=#{lot}</if>
			<if test="expirationdate!=null">expirationdate=#{expirationdate},</if>
			<if test="equipmentnb!=null and equipmentnb!=''">equipmentnb = #{equipmentnb},</if>
		</trim>
		where id = #{id}
	</update>

	<delete id="delete" parameterType="INTEGER">
		delete from Stwarehousesummary where id = #{id} 
	</delete>
</mapper>